{% extends 'main/layout.html' %}

{% block title %}ABOUT{% endblock %}

{% block content %}
   <div class="features">
        <h1>About us </h1>
        <p>jsDelivr is one of the biggest open source and free CDNs in the world. We serve more than 140billion requests and 5PB of traffic per month.  Since jsDelivr is a free CDN we rely heavily on our sponsors to support the service. All of the traffic we serve is offered to us for free thanks to our CDN sponsors. We load-balance the traffic between them for better performance but it also allows us to avoid overloading a single CDN.  In case a CDN provider decides to stop sponsoring us we can quickly remove them from rotation and if needed replace them with other sponsors. We maintain a good relationship with the CDN industry overall.</p>
        <button class="btn btn-warning">Start for free</button>
    </div>
{% endblock %}